body{
    background-color: turquoise; /* da cambiare dopo */
}

main{
    height: 97vh;
    padding-top: 3vh;
}

section.col-5 > div.justify-content-between,
section.col-7 > div.justify-content-between,
div.input-group{
    background-color: #eaeaea;
}

ul{
    list-style-type: none;
}

ul li{
    border-bottom: 1px solid #e0e0e0;
}

.my-last-access{
    font-size: .8rem;
}

.my-text-Lgrey{
    color: #b1b1b1;
}

section.col-5 .my-icon-container{
    width: 30%;
}

section.col-7 .my-icon-container{
    width: 20%;
}

section.col-5 .my-icon-container{
    border-right: 2px solid #e0e0e0;
}

.my-contact-avatar{
    width: 70px;
    height: 70px;
}

.my-contact-avatar img{
    object-fit: contain;
}

.my-user-avatar-img img,
.my-circle{
    height: 50px;
}

.my-user-avatar-img img,
.my-circle,
div.input-group span{
    width: 50px;
}

div.input-group span{
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    border: 1px solid #dcdee0;
}

.my-notification-switch{
    background-color: #8edafc;
}

.my-notification-switch div i{
    color: #8edafc;
}

.my-chat-body{
    height: 80%;
}

.my-default-bg{
    object-fit: cover;
}

.my-input-container{
    height: 10.6%;
    background-color: #f3eeea;
}

.my-width{
    width: 80%;
}

i.fs-5{
    color: #6c808e;
}

.my-chat-body{
    background-image: url(../img/default-background.jpg);
}

.my-send{
    background-color: #d5f9ba;
}

.my-received{
    background-color: white;
}

.my-date-message{
    font-size: .6rem
}